 .board-container { padding: 20px; }
 header { 
    padding: 3px;
    background: #5d5a5a; 
    color:white;
    
}
 .kanban-area { 
      background: #e0e0e0; 
      height: 500px; 
      display: flex; 
      align-items: center; 
      justify-content: center; 
 }