.navbar { 
    display: flex; 
    justify-content:space-between;//  center
    padding: 1rem; 
    background: #5d5a5a; 
    color: white; 
}
.logo{
   padding: 1rem;  
}
.welcome-text { 
    margin-right: 1rem; 
}
.btn-primary{
   color: white; 
}